body {
  background-image: url("http://imageshack.com/a/img922/8512/4i0gbW.jpg");

}

#time {
  color: white;
  font-size: 150px;
  height: 200px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}
